/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel files
.env
.env.backup
.env.production
.phpunit.result.cache

public/storage
public/hot
storage/*.key

# Database and data exports
*.sql
*.sqlite
*.xlsx
*.xls
*.csv
Datos/